.go-recent-albums ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.go-recent-albums li {
  margin: 0;
  padding: 0;
  width: 25%;
}
.go-recent-albums a {
  background-image: none !important;
}
.go-recent-albums a img {
  display: block;
}
