.widget .go-recent-albums ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.widget .go-recent-albums > ul li {
  border: 0;
  margin: 0;
  padding: 0;
  width: 25%;
}
.widget .go-recent-albums a {
  background-image: none !important;
}
.widget .go-recent-albums img {
  display: block;
}
